@import url('https://fonts.googleapis.com/css?family=Nunito:300');

h1 {
  text-align: center;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  font-family: Nunito, sans-serif;
  font-size: 150%;
}

#robot {
  display: flex;
  margin: 0 auto;
  height: 300px;
  width: 800px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px){
  #robot {
    display: none;
  }
}
