@import url('https://fonts.googleapis.com/css?family=Barlow:300');



h1{
  font-family: 'Barlow', sans-sans-serif;
}

#name, #email {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contactImg {
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  height: 300px;
  width: 500px;
}
#msg {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 200px;
}

#msgInput {
  height:inherit;
}

#submit {
  text-align: center;
}

#btn {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 400px){
  .contactImg{
    display: none;
  }
}
