@import url('https://fonts.googleapis.com/css?family=Raleway:300');

.nav{
  background: #12AFFE;
  border: transparent;
  border-radius: 0px;
}

.nav .name{
  color: white;
  font-size: 200%;
  font-family: Raleway, sans-serif;
}

.navItem{
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 150%;
}

.navItem:hover{
  text-decoration: none;
  transition-duration: 0.5s;
}
