.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.card {
  padding-top: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #F1F6F8;
  width: 350px;
  height: 350px;
}

.cardImg{
  border-radius: 5px;
  display: block;
  height: 90%;
  width: 90%;
  margin: 0 auto;
}
